.App {
  text-align: center;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #222;
  height: 30px;
  padding: 20px;
  color: white;
}

.bg{
  background: url('img/bgimg.jpg');
  background-size: 100%;
  background-position: 0px -400px; 
  background-repeat: no-repeat;
  border: 2px solid black;


}

.appSpace{
  margin-top: 580px;
}

.appH1{
  text-align: center;
  color: white;
  font-size: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.allStocks{
  display: flex;
  flex-flow: row wrap;
}

.container{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

