.App {
  text-align: center;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.container-nav{
 padding-left: 100px;
 padding-right: 100px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.allStocks{
  display: flex;
  flex-flow: row wrap;
  padding: 50px 300px;
}

.container{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.nav {
display: inline-block
}

.wikiIndex{
  display: flex;
  margin-top: 100px;
  margin-bottom: 200px;
  max-width: 400px;
}

.stockTitle{
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.watchlistTitle{
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.watchlistParagraph{
  text-align: center;
  margin: 50px 100px;
}

.stockspace {
  margin-right: 75px;
}

.hover_img { position:relative; }
.hover_img span { position:absolute; display:none; z-index:99; }
.hover_img :hover span { display:block; }

.stockimg{
  width: 600px;
  height: 400px;
}




.custom-select {
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  width: 200px;
  height: 30px;
  top: -40px;

}


